<domain type='kvm'>
  <name>{{ item.name }}</name>
  <memory unit='MiB'>{{ flavors[item.flavor].memory }}</memory>
  <vcpu placement='static'>{{ flavors[item.flavor].vcpu }}</vcpu>

  {{baremetal_vm_xml|default('')}}
  
  <os>
    <type arch='s390x' machine='s390-ccw-virtio-rhel8.6.0'>hvm</type>
    <boot dev='network'/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <pae/>
  </features>
  <cpu mode='host-passthrough'/>
  <clock offset='utc'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>restart</on_crash>
  <devices>
    <disk type="file" device="cdrom">
      <target dev='{{ libvirt_cdromdev }}' bus='{{ libvirt_diskbus }}'/>
      <readonly/>
    </disk>
    <disk type='volume' device='disk'>
      <driver name='qemu' type='qcow2' cache='unsafe'/>
      <source pool='{{ libvirt_volume_pool }}' volume='{{ item.name }}.qcow2'/>
      <target dev='vda' bus='virtio'/>
      <address type='ccw' cssid='0xfe' ssid='0x0' devno='0x0000'/>
    </disk>
  <controller type='scsi' model='virtio-scsi' />
  <controller type='pci' index='0' model='pci-root'/>
  <controller type='virtio-serial' index='0'>
    <address type='ccw' cssid='0xfe' ssid='0x0' devno='0x0003'/>
  </controller>
{% for network in networks %}
    <interface type='bridge'>
      <mac address='{{ node_mac_map.get(item.name).get(network.name) }}'/>
      <source bridge='{{ network.bridge }}'/>
      <model type='{{ libvirt_nic_model }}'/>
{% if network.virtualport_type is defined %}
      <virtualport type='{{ network.virtualport_type }}'/>
{% endif %}
    </interface>
{% endfor %}
    <serial type='pty'>
      <log file="{{ libvirt_log_path }}/{{ item.name }}-serial0.log" append="on"/>
    </serial>
    <console type='pty'/>
    {{baremetal_vm_device_xml|default('')}}
  </devices>
</domain>
